@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    @if (ViewBag.SpeedKmPerHour != null)
    {
        <h2>Speed in km/h: @ViewBag.SpeedKmPerHour</h2>
    }
    else
    {
        <h2>No result</h2>
}
